@model IEnumerable<SIG.Entidades.UsuarioEmpleado>

@{
    ViewBag.Title = "Lista de Empleados";
}

<
h2>Lista de Empleados</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Número de Identificación</th>
            <th>Fecha de Nacimiento</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo Electrónico</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empleado in Model)
        {
            <tr>
                <td>@empleado.id_usuario</td>
                <td>@empleado.nombre</td>
                <td>@empleado.apellidos</td>
                <td>@empleado.numero_identificacion</td>
                <td>@empleado.fecha_nacimiento.ToShortDateString()</td>
                <td>@empleado.direccion</td>
                <td>@empleado.telefono</td>
                <td>@empleado.correo_electronico</td>
                <td>@(empleado.estado_usuario == 1? "Activo" : "Inactivo")</td>
            </tr>
        }
    </tbody>
</table>

<!-- Opcional: Puedes agregar un enlace para volver a la página principal -->
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver</a>
