@model SIG.BaseDatos.Empleado

@{
    ViewBag.Title = "EditarEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-6">
    <div class="card shadow-lg bg-light p-5">
        <h3 class="text-center mb-4">Editar Usuario</h3>

        @using (Html.BeginForm("EditarEmp", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(m => m.id)

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre" class="col-form-label">Nombre:</label>
                    @Html.TextBoxFor(m => m.nombre, new { @class = "form-control", required = "required" })
                </div>

                <div class="form-group col-md-6">
                    <label for="apellidos" class="col-form-label">Apellidos:</label>
                    @Html.TextBoxFor(m => m.apellidos, new { @class = "form-control", required = "required" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="correo_electronico" class="col-form-label">Correo Electrónico:</label>
                    @Html.TextBoxFor(m => m.correo_electronico, new { @class = "form-control", required = "required", @readonly = "readonly" })
                </div>

                <div class="form-group col-md-6">
                    <label for="usuario" class="col-form-label">Usuario:</label>
                    @Html.TextBoxFor(m => m.usuario, new { @class = "form-control", required = "required", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="telefono" class="col-form-label">Teléfono:</label>
                    @Html.TextBoxFor(m => m.telefono, new { @class = "form-control", required = "required" })
                </div>

                <div class="form-group col-md-6">
                    <label for="direccion" class="col-form-label">Dirección:</label>
                    @Html.TextBoxFor(m => m.direccion, new { @class = "form-control", required = "required" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fecha_nacimiento" class="col-form-label">Fecha de Nacimiento:</label>
                    @Html.TextBoxFor(m => m.fecha_nacimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @disabled = "disabled" })
                </div>

                <div class="form-group col-md-6">
                    <label for="numero_identificacion" class="col-form-label">Número de Identificación:</label>
                    @Html.TextBoxFor(m => m.numero_identificacion, new { @class = "form-control", required = "required" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="col-form-label">Departamento:</label>
                    @Html.DropDownList("departamento_id", (IEnumerable<SelectListItem>)ViewBag.Departamentos, "Seleccione un departamento", new { @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    <label class="col-form-label">Puesto:</label>
                    @Html.DropDownList("puesto_id", (IEnumerable<SelectListItem>)ViewBag.Puestos, "Seleccione un puesto", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-row justify-content-center">
                <div class="form-group col-md-6 text-center">
                    <label class="col-form-label">Rol:</label>
                    @Html.DropDownList("rol_id", (IEnumerable<SelectListItem>)ViewBag.Roles, "Seleccione un rol", new { @class = "form-control" })
                </div>
            </div>



            <div class="form-row justify-content-center">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <button type="button" class="btn btn-secondary" onclick="window.history.back();">
                        Retroceder
                    </button>
                </div>
            </div>
        }
    </div>
</div>





@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}
