@model SIG.Entidades.UsuarioEmpleado
@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Home Page";
}

<div style="width: 400px; margin: auto; box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.4); border-radius: 15px; overflow: hidden; background-color: #ffffff;">
    <div style="text-align: center; background-color: #ffffff; padding: 20px;">
        <img src="~/root/dist/img/logoRajasa.jpg" alt="Logo de la Empresa" style="width: 120px; height: auto;">
    </div>

    <div style="padding: 30px;">
        <p style="text-align: center; font-size: 22px; font-weight: bold; color: #444; margin-bottom: 25px;">Iniciar Sesión</p>

        @if (ViewBag.msj != null)
        {
            <div style="background: rgba(253, 238, 238, 0.9); border: 1px solid #e74c3c; color: #e74c3c; text-align: center; font-size: 14px; padding: 10px; border-radius: 10px; margin-bottom: 20px;">
                @ViewBag.msj
            </div>
        }

        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.correo_electronico, new { @type = "email", @class = "form-control form-control-lg", @placeholder = "Correo Electrónico", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);" })
                <div class="input-group-append">
                    <div class="input-group-text" style="border-radius: 8px; background: #f1f1f1;">
                        <span class="fas fa-envelope" style="color: #32a852;"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.contrasena, new { @type = "password", @class = "form-control form-control-lg", @placeholder = "Contraseña", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);" })
                <div class="input-group-append">
                    <div class="input-group-text" style="border-radius: 8px; background: #f1f1f1;">
                        <span class="fas fa-lock" style="color: #32a852;"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success btn-block" style="background: linear-gradient(135deg, #4caf50, #32a852); font-size: 16px; font-weight: bold; border-radius: 8px; box-shadow: 0px 5px 10px rgba(0,0,0,0.2);">Ingresar</button>
                </div>
            </div>
        }

        <div class="text-center mt-3">
            <a href="@Url.Action("recuperarAcceso", "Login")" style="font-size: 14px; color: #32a852; font-weight: 500;">Recuperar Contraseña</a>
        </div>
        <div class="text-center mt-2">
            <a href="@Url.Action("registro", "Login")" style="font-size: 14px; color: #32a852; font-weight: 500;">Registrar usuario nuevo</a>
        </div>
    </div>
</div>