@model SIG.Entidades.UsuarioEmpleado
@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Registro de Usuario";
}

<div style="width: 400px; margin: auto; box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.4); border-radius: 15px; overflow: hidden; background-color: #ffffff;">
    <div style="text-align: center; background-color: #ffffff; padding: 20px;">
        <img src="~/root/dist/img/logoRajasa.jpg" alt="Logo de la Empresa" style="width: 120px; height: auto;">
    </div>

    <div style="padding: 30px;">
        <p style="text-align: center; font-size: 22px; font-weight: bold; color: #444; margin-bottom: 25px;">Registro de Usuario</p>

        @if (ViewBag.msj != null)
        {
            <div style="background: rgba(253, 238, 238, 0.9); border: 1px solid #e74c3c; color: #e74c3c; text-align: center; font-size: 14px; padding: 10px; border-radius: 10px; margin-bottom: 20px;">
                @ViewBag.msj
            </div>
        }

        @using (Html.BeginForm("registro", "Login", FormMethod.Post))
        {
            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.nombre, new { @class = "form-control form-control-lg", @placeholder = "Nombre Completo", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);", @required = "true" })
            </div>

            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.apellidos, new { @class = "form-control form-control-lg", @placeholder = "Apellidos", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);", @required = "true" })
            </div>

            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.numero_identificacion, new { @class = "form-control form-control-lg", @placeholder = "Cédula", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);", @required = "true", @id = "cedula" })
            </div>

            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.fecha_nacimiento, new { @class = "form-control form-control-lg", @placeholder = "Fecha de nacimiento", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);", @required = "true", @type = "date" })
            </div>

            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.direccion, new { @class = "form-control form-control-lg", @placeholder = "Dirección", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);", @required = "true" })
            </div>

            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.telefono, new { @class = "form-control form-control-lg", @placeholder = "Teléfono", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);", @required = "true" })
            </div>

            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.correo_electronico, new { @type = "email", @class = "form-control form-control-lg", @placeholder = "Email", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);", @required = "true", @id = "email" })
            </div>

            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.usuario, new { @class = "form-control form-control-lg", @placeholder = "Nombre de Usuario", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);", @required = "true", @id = "usuario" })
            </div>

            <div class="input-group mb-4">
                @Html.TextBoxFor(m => m.contrasena, new { @type = "password", @class = "form-control form-control-lg", @placeholder = "Contraseña", @style = "border-radius: 8px; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);", @required = "true" })
            </div>


            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success btn-block" style="background: linear-gradient(135deg, #4caf50, #32a852); font-size: 16px; font-weight: bold; border-radius: 8px; box-shadow: 0px 5px 10px rgba(0,0,0,0.2);">Registrar</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary btn-block" style="font-size: 16px; font-weight: bold; border-radius: 8px; box-shadow: 0px 5px 10px rgba(0,0,0,0.2);">
                        Cancelar
                    </a>
                </div>
            </div>
        }
    </div>
</div>