@model SIG.Entidades.UsuarioEmpleado
@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Iniciar Sesión</p>

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }
        @if (!string.IsNullOrEmpty(ViewBag.msj))
        {
            <div class="alert alert-danger">
                @ViewBag.msj
            </div>
        }

        @using (Html.BeginForm("registro", "Login", FormMethod.Post))
        {

            <div class="form-group">
                @Html.TextBoxFor(m => m.nombre, new { @class = "form-control form-control-lg", @placeholder = "Nombre Completo", @required = "true" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.apellidos, new { @class = "form-control form-control-lg", @placeholder = "Apellidos", @required = "true" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.numero_identificacion, new { @class = "form-control form-control-lg", @placeholder = "Cédula", @required = "true", @id = "cedula" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.fecha_nacimiento, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.fecha_nacimiento, new { @class = "form-control form-control-lg", @placeholder = "Fecha de nacimiento", @required = "true", type = "date" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.direccion, new { @class = "form-control form-control-lg", @placeholder = "Dirección", @required = "true" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.telefono, new { @class = "form-control form-control-lg", @placeholder = "Telefono", @required = "true" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.correo_electronico, new { @type = "email", @class = "form-control form-control-lg", @placeholder = "Email", @required = "true", @id = "email" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.usuario, new { @class = "form-control form-control-lg", @placeholder = "Nombre de Usuario", @required = "true", @id = "usuario" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.contrasena, new { @type = "password", @class = "form-control form-control-lg", @placeholder = "Contraseña", @required = "true" })
            </div>

            <!-- Campos ocultos para los IDs -->
            <div class="form-group" style="display:none;">
                @Html.HiddenFor(m => m.departamento_id, new { Value = 1 })
            </div>
            <div class="form-group" style="display:none;">
                @Html.HiddenFor(m => m.puesto_id, new { Value = 1 })
            </div>
            <div class="form-group" style="display:none;">
                @Html.HiddenFor(m => m.rol, new { Value = 1 })
            </div>






            <div class="text-center mt-3">
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Registrar</button>
            </div>
        }

    </div>
