@model List<SIG.Entidades.TablaTicket>
@{
    ViewBag.Title = "ListaT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column min-vh-800" style="background-color: #f3f5f8; margin-left: 3.3%; padding: 20px; border-radius: 15px; height: auto; width: 100%">
    <div class="text-center mb-4">
        <h2 style="font-weight: bold; color: #111111; border-bottom: 2px solid #111111; padding-bottom: 10px;">
            Historial de Tickets Atendidos
        </h2>
    </div>

    @if (ViewBag.warning != null)
    {
        <h3 class="text-center">@ViewBag.msj</h3>
    }

    @if (Model.Count == 0)
    {
        <h3 class="text-center">No existen tickets atendidos</h3>
    }
    else
    {
        <div>
            @if (ViewBag.msj != null)
            {
                <div class="alert alert-info text-center" role="alert">
                    @ViewBag.msj
                </div>
            }
            <table id="tablaTickets" class="table table-modern">
                <thead>
                    <tr>
                        <th>Ticket ID</th>
                        <th>Fecha de cierre</th>
                        <th>Tipo de incidente</th>
                        <th>Estado</th>
                        <th>Prioridad</th>
                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.estado == "Finalizado" ? "table-success" : "")">
                            <td>@item.id_ticket</td>
                            <td>@item.fecha_registro_usuario</td>
                            <td>@item.tipo_incidencia</td>
                            <td>@item.estado</td>
                            <td>@item.prioridad</td>
                            <td class="text-center">
                                <a class="btn btn-update" href="@Url.Action("VerTicket", "Incidencias", new { idTicket = item.id_ticket, accion = "ListaHistoricoAtendidos", controlador = "IncidenciasITAnalyst" })">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("#tablaTickets").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            }
        });
    });
</script>

<style>
    .table-modern {
        border: 1px solid black;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        overflow: hidden;
        border-collapse: collapse;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        transition: all 0.5s ease-in-out;
    }

        .table-modern:hover {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
            transform: scale(1.01);
        }

        .table-modern th, .table-modern td {
            padding: 14px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
        }

    .btn-update {
        background: linear-gradient(to right, #65a9ca, #5481a2);
        color: white;
        border: none;
        padding: 10px 16px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 6px;
        transition: transform 0.2s ease-in-out;
    }

        .btn-update:hover {
            transform: scale(1.1);
            background: linear-gradient(to right, #2c3e50, #4a6d89);
        }
</style>
