@model SIG.Entidades.Carrito
@{
    ViewBag.Title = "ConsultarPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        max-height: 100vh;
        overflow-y: auto;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #555;
    }

    input, select, textarea {
        margin-bottom: 15px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
    }

    button {
        padding: 10px 15px;
        background-color: #5cb85c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #4cae4c;
        }
</style>

<body>

    <div class="container">
        <h2>Consulta de pedido</h2>
        <div class="row">
            <div class="col-12">



                @if (ViewBag.msj != null)
                {
                    <div class="alert alert-info" role="alert" style="text-align:center">
                        @ViewBag.msj
                    </div>
                }

                <table id="tablaCarrito" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad</th>
                            <th>SubTotal</th>
                            <th>Impuesto</th>
                            <th>Total</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DatosCarrito)
                        {
                            <tr>
                                <td>@item.descripcion</td>
                                <td>@item.Precio.ToString("N2")</td>
                                <td>@item.Cantidad</td>
                                <td>@item.SubTotal.Value.ToString("N2")</td>
                                <td>@item.Impuesto.Value.ToString("N2")</td>
                                <td>@item.Total.Value.ToString("N2")</td>

                                <td style="text-align:center">
                                    <button type="button" class="btn btn-primary AbrirModal" data-bs-toggle="modal" data-bs-target="#ModalCarrito"
                                            data-id="@item.id" data-name="@item.descripcion">
                                        <i class="fa fa-share-square"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <br /><br />

                <div class="row">
                    <div class="col-3">
                        <p style="font-size:14pt; margin-top:2%">El monto a cancelar es de: ₡<b>@decimal.Parse(Session["Total"].ToString()).ToString("N2")</b></p>
                    </div>
                    <div>
                        @if (Session["Total"].ToString() != "0")
                        {
                            <br /><br />
                            <h5>Seleccione al cliente que realiza el pedido</h5>
                            <table id="tablaClientes" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Teléfono</th>
                                        <th>Correo electrónico</th>
                                        <th>Seleccionar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Clientes)
                                    {
                                        <tr>
                                            <td>@item.id</td>
                                            <td id="nombre-@item.id">@item.nombre</td>
                                            <td>@item.telefono</td>
                                            <td>@item.correo_electronico</td>

                                            <td style="text-align:center">
                                                <a onclick="SeleccionarCliente(@item.id)" class="card-link btn btn-primary text-white"><i class="fa fa-check"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            using (Html.BeginForm("ProcesarPedido", "Contabilidad", FormMethod.Post, new { id = "procesarPedido"}))
                            {
                                <br />
                                <input type="hidden" id="idCliente" name="idCliente" />
                                <label>Nombre de cliente seleccionado:</label>
                                <input type="text" id="nombreCliente" readonly />
                                <br />
                                <label>Notas adicionales (en caso de ser requerido):</label>
                                <textarea id="notasAdicionales" name="notasAdicionales" maxlength="100"></textarea>
                                <button id="btn-procesar" type="submit" class="btn btn-outline-primary" style="align-items:center">Procesar</button>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>


<div class="modal fade" id="ModalCarrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EliminarProductoPedido", "Contabilidad"))
                {
                    <div class="modal-body">
                        @Html.Hidden("IdProducto", "")
                        ¿Desea remover de su pedido el producto <label id="Nombre"></label>?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Remover</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/root/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#tablaCarrito").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [{ type: 'string', target: [0, 1, 2, 3, 4, 5] }]
        });
        $("#tablaClientes").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [{ type: 'string', target: [0, 1, 2, 3, 4] }]
        });
    })
    $(document).on("click", ".AbrirModal", function () {
        $("#IdProducto").val($(this).attr('data-id'));
        $("#Nombre").text($(this).attr('data-name'));
    });

    $(document).ready(function () {
        $('#procesarPedido').on("submit", function (e) {
            let idCliente = $("#idCliente").val();

            if (idCliente == "") {
                e.preventDefault();
                MostrarMensaje("Información", "Debe seleccionar un cliente para poder continuar", "error");
                return;
                }
        });
    });
    

    function SeleccionarCliente(id) {
        let nombre = $("#nombre-" + id).text();
        $("#idCliente").val(id);
        $("#nombreCliente").val(nombre);
    }

    function MostrarMensaje(titulo, mensaje, icono) {
        Swal.fire({
            title: titulo,
            showDenyButton: false,
            showCancelButton: false,
            confirmButtonText: "Aceptar",
            text: mensaje,
            icon: icono
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Contabilidad/ConsultarPedido'
            }
        });
    }

</script>
