@model SIG.Entidades.RangoFecha
@{
    ViewBag.Title = "ReporteITManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column min-vh-800" style="background-color: #f3f5f8; margin-left: 3.3%; padding: 20px; border-radius: 15px; height: auto; width: 100%; font-family: 'Poppins', sans-serif;">
    <div class="text-center mb-4">
        <h2 style="font-weight: bold; color: #111111; border-bottom: 2px solid #111111; padding-bottom: 10px;">
            Cierre Contable
        </h2>
    </div>

    <div class="info-box" style="max-width: 850px; margin: auto; padding: 10px;">
        <div class="info-content">
            <i class="bi bi-calendar-check"></i>
            <p style="font-size: 16px;">Escoja las fechas para generar el cierre</p>
        </div>
    </div>

    @using (Html.BeginForm("ContaCierreCorte", "Contabilidad", FormMethod.Post, new { @class = "form-cierre-contable" }))
    {
        <div class="input-container">
            <br>
            <label class="input-label">Inicio</label>
            <div class="input-wrapper">
                @Html.TextBoxFor(m => m.inicioCorte, "{0:yyyy-MM-dd}", new { @class = "form-control input-field shadow-lg", @type = "date", @placeholder = "Seleccione la fecha de inicio" })
            </div>
        </div>

        <div class="input-container">
            <label class="input-label">Fin</label>
            <div class="input-wrapper">
                @Html.TextBoxFor(m => m.finCorte, "{0:yyyy-MM-dd}", new { @class = "form-control input-field shadow-lg", @type = "date", @placeholder = "Seleccione la fecha de fin" })
            </div>
        </div>

        <br />

        <button type="submit" class="btn btn-gradient">Generar cierre</button>

        if (Model != null)
        {
            <a href="@Url.Action("ReporteCierreContable", new { inicioCorte = Model.inicioCorte, finCorte = Model.finCorte })" class="btn btn-gradient">Descargar reporte PDF</a>
            <br />
            <h3>Resultados del Cierre</h3>
            <table id="tablaCierreContable" class="table table-modern">
                <thead>
                    <tr>
                        <th>Cuenta</th>
                        <th>Descripción</th>
                        <th>Ingresos</th>
                        <th>Egresos</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.cierreContable)
                    {
                        <tr>
                            <td>@item.codigo_cuenta</td>
                            <td>@item.descripcion_cuenta</td>
                            <td>₡@item.ingresos</td>
                            <td>₡@item.egresos</td>
                            <td>₡@item.balance</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>

<script>
    $(document).ready(function () {
        $("#tablaCierreContable").DataTable({
            language: { url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json' }
        });
    });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


<style>
    body {
        font-family: 'Poppins', sans-serif;
    }
    .info-box {
        background-color: #222222;
        border-radius: 8px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto 20px;
        transition: all 0.3s ease-in-out;
    }

        .info-box:hover {
            transform: scale(1.05);
        }

    .info-content {
        display: flex;
        align-items: center;
        color: white;
        gap: 20px;
    }

        .info-content i {
            font-size: 22px;
            color: #01e173;
        }

        .info-content p {
            margin: 0;
            font-size: 50px;
            font-weight: bold;
        }

    .btn-gradient {
        background: linear-gradient(to right, #5b8c5a, #2f5930);
        color: white;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 6px;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
    }

        .btn-gradient:hover {
            transform: scale(1.1);
            background: linear-gradient(to right, #2f5930, #5b8c5a);
        }

    .form-cierre-contable .form-control {
        border-radius: 8px;
        padding: 12px;
        font-size: 16px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        border: 2px solid transparent;
    }

        .form-cierre-contable .form-control:focus {
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
            border-color: #5b8c5a;
        }
</style>
