@model List<SIG.BaseDatos.ConsultarDetallePedido_Result>
@{
    ViewBag.Title = "DetallePedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column min-vh-800" style="background-color: #f3f5f8; margin-left: 3.3%; padding: 20px; border-radius: 15px; height: auto; width: 100%">
    <div class="text-center mb-4">
        <h2 style="font-weight: bold; color: #111111; border-bottom: 2px solid #111111; padding-bottom: 10px;">
            Detalle de Pedido:  @Model.FirstOrDefault().factura_id
        </h2>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            @if (ViewBag.msj != null)
            {
                <div class="alert alert-info text-center" role="alert">
                    @ViewBag.msj
                </div>
            }

            <table id="tablaDetalle" class="table table-modern table-hover">
                <thead>
                    <tr>
                        <th>Id línea</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Monto</th>
                        <th>Impuesto</th>
                        <th>Monto Final</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.nombre</td>
                            <td>@item.cantidad</td>
                            <td>₡@item.precio_unidad.ToString("N2")</td>
                            <td>₡@item.monto.ToString("N2")</td>
                            <td>₡@item.impuesto.ToString("N2")</td>
                            <td>₡@item.monto_final.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#tablaDetalle").DataTable({
            language: { url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json' }
        });
    });
</script>

<style>
    .table-modern {
        border: 1px solid black;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        overflow: hidden;
        border-collapse: collapse;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        transition: all 0.5s ease-in-out;
    }

        .table-modern:hover {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
            transform: scale(1.01);
        }

        .table-modern th, .table-modern td {
            padding: 14px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
        }
</style>
