@model List<SIG.BaseDatos.Ticket_Tipo>
@{
    ViewBag.Title = "ListaTiposTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column min-vh-800" style="background-color: #f3f5f8; margin-left: 3.3%; padding: 20px; border-radius: 15px; height: auto; width: 100%">
    <div class="text-center mb-4">
        <h2 style="font-weight: bold; color: #111111; border-bottom: 2px solid #111111; padding-bottom: 10px;">
            Categorías de Incidencias
        </h2>
    </div>

    @if (Model.Count == 0)
    {
        <h3 class="text-center">No existen categorías registradas</h3>
    }
    else
    {
        <div>
            @if (ViewBag.msj != null)
            {
                <div class="alert alert-info text-center" role="alert">
                    @ViewBag.msj
                </div>
            }
            <table id="tablaTipos" class="table table-modern">
                <thead>
                    <tr>
                        <th>Tipo ID</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Desactivar</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.estado ? "table-success" : "table-danger")">
                            <td>@item.tipo_incidencia</td>
                            <td>@item.descripcion</td>
                            <td>@(item.estado ? "Activa" : "Inactiva")</td>
                            <td class="text-center">
                                @if (item.estado)
                                {
                                    <button type="button" class="btn btn-delete AbrirModal" data-bs-toggle="modal" data-bs-target="#ModalTicket" data-id="@item.tipo_incidencia" data-name="@item.descripcion">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                }
                            </td>
                            <td class="text-center">
                                @if (item.estado)
                                {
                                    <a class="btn btn-update" href="@Url.Action("EditarCategoria", "IncidenciasITManager", new { idCategoria = item.tipo_incidencia })">
                                        <i class="fa fa-user"></i>
                                    </a>
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="text-center mt-3">
            <a class="btn btn-gradient" href="@Url.Action("CrearCategoria", "IncidenciasITManager")">
                Nueva categoría
            </a>
        </div>
    }
</div>

<div class="modal fade" id="ModalTicket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("DesactivarTipoIncidencia", "IncidenciasITManager"))
                {
                    <div class="modal-body">
                        @Html.Hidden("tipo_incidencia", "")
                        ¿Desea desactivar la categoría <label id="Nombre"></label>?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-delete">Desactivar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#tablaTipos").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            }
        });
    });

    $(document).on("click", ".AbrirModal", function () {
        var tipoId = $(this).data("id");
        $("#tipo_incidencia").val(tipoId);
        $("#Nombre").text($(this).data("name"));
    });
</script>


<style>

    .btn-gradient {
        background: linear-gradient(to right, #5b8c5a, #2f5930);
        color: white;
        border: none;
        padding: 12px 24px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 6px;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .table-modern {
        border-radius: 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        border-collapse: collapse;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        border: 1px solid black;
        transition: all 0.5s ease-in-out;
    }

        .table-modern:hover {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
            transform: scale(1.01);
        }

        .table-modern th, .table-modern td {
            padding: 14px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
        }

    .btn-delete {
        background: linear-gradient(to right, #d9534f, #b52b27);
        color: white;
        border: none;
        padding: 10px 16px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 6px;
        transition: transform 0.2s ease-in-out;
    }

        .btn-delete:hover {
            transform: scale(1.1);
            background: linear-gradient(to right, #b52b27, #d9534f);
        }

    .btn-update {
        background: linear-gradient(to right, #65a9ca, #5481a2);
        color: white;
        border: none;
        padding: 10px 16px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 6px;
        transition: transform 0.2s ease-in-out;
    }

        .btn-update:hover {
            transform: scale(1.1);
            background: linear-gradient(to right, #2c3e50, #4a6d89);
        }
</style>
