<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema de Gestion | Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/root/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="~/root/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/root/dist/css/Style.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap4.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.3/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">



</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-dark" style="background-color: #111111;">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars" style="color: #00e676;"></i></a>
                </li>
            </ul>

            

            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                            <span class="icon-menu" style="color: #00e676;"></span>
                        </button>
                        <ul class="navbar-nav navbar-nav-right">

                            <li>
                                <div id="notificationIcon" style="position: relative; cursor: pointer; margin-right: 15px;">
                                    <i class="fa fa-bell" style="font-size: 24px; color: #00e676;"></i>
                                    <span id="notificationCircle" style="background-color: #ffffff; color: #000000; padding: 2px 6px; border-radius: 50%; font-weight: bold; border: 2px solid #00e676;">0</span>

                                </div>
                                <!-- Menú desplegable de notificaciones -->
                                <div id="notificationDropdown" class="dropdown-menu dropdown-menu-right navbar-dropdown" style="background-color: #222; color: #a5d6a7;">
                                    <h6 class="dropdown-header" style="color: #ffffff;">Notificaciones</h6>
                                    <div id="notificationList">
                                        <!-- Aquí se agregarán las notificaciones con JavaScript -->
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item nav-profile dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                                    <i class="ti-user" style="color: #00e676;"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown" style="background-color: #222; color: #a5d6a7;">
                                    <a class="dropdown-item" href="@Url.Action("VerPerfil", "Login")" style="color: #a5d6a7;">
                                        <i class="ti-settings text-primary"></i> Perfil
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("CambiarContrasenna", "Login")" style="color: #a5d6a7;">
                                        <i class="ti-settings text-primary"></i> Cambiar contraseña
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Login")" style="color: #a5d6a7;">
                                        <i class="ti-power-off text-primary"></i> Cerrar sesión
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                            <span class="icon-menu" style="color: #00e676;"></span>
                        </button>
                    </div>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar"
               style="background-color: #111111;
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
              width: 300px;
              height: 100vh;
              overflow-y: auto;
              overflow-x: hidden;
              position: fixed;
              display: flex;
              flex-direction: column;
              scrollbar-width: thin;
              scrollbar-color: #222 #111;">


            <div style="background-color: #222222;
                padding: 20px 15px;
                text-align: center;
                border-bottom: 1px solid #333;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">

                <img src="~/root/dist/img/avatar.png"
                     alt="Usuario"
                     class="img-circle elevation-3"
                     style="border: 3px solid #00e676;
                    width: 80px; height: 80px; margin-bottom: 15px; transition: transform 0.3s ease;">
                <h3 style="margin: 0; font-size: 18px; font-weight: bold; color: #ffffff; font-family: 'Poppins', sans-serif;">
                    Hola! @Session["Usuario"]
                </h3>
                <p style="font-size: 14px; color: #a5d6a7;">Rol: @Session["NombreRolUsuario"]</p>
            </div>

            @{
                int rolUsuario = int.Parse(Session["RolUsuario"].ToString());
                }

            <div class="sidebar" style="flex: 1; margin-top: 10px; padding: 0 15px;">
                <nav>
                    <ul class="nav nav-pills nav-sidebar flex-column"
                        data-widget="treeview"
                        role="menu"
                        style="padding: 0; list-style: none;">

                        @if (rolUsuario == 1 || rolUsuario == 4 || rolUsuario == 5 || rolUsuario == 6 || rolUsuario == 7)
                        {
                            <li class="nav-item has-treeview"
                                style="margin-bottom: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); border-radius: 8px;">
                                <a href="#" class="nav-link toggle-menu"
                                   style="color: #ffffff; display: flex; align-items: center; padding: 10px; border-radius: 8px; transition: all 0.3s ease;">
                                    <i class="fas fa-chart-pie nav-icon" style="color: #00e676; font-size: 20px; margin-right: 10px;"></i>
                                    <p style="font-weight: 500;">Contabilidad</p>
                                    <i class="fas fa-angle-down right expand-icon" style="margin-left: auto; color: #00e676;"></i>
                                </a>
                                <ul class="nav nav-treeview collapsible-content"
                                    style="margin-top: 5px; padding-left: 25px; display: none;">

                                    @if (rolUsuario == 1 || rolUsuario == 4)
                                    {
                                        <li class="nav-item">
                                            <a href="@Url.Action("Productos_Ventas", "Contabilidad")" class="nav-link">
                                                <i class="fas fa-plus-circle nav-icon" style="color: #a5d6a7;"></i>
                                                <p style="color: #a5d6a7;">Nuevo Pedido</p>
                                            </a>
                                        </li>

                                    }

                                    @if (rolUsuario == 1 || rolUsuario == 4 || rolUsuario == 6)
                                    {
                                        <li class="nav-item">
                                            <a href="@Url.Action("ListaPedidos", "Contabilidad")" class="nav-link">
                                                <i class="fas fa-list nav-icon" style="color: #a5d6a7;"></i>
                                                <p style="color: #a5d6a7;">Lista Pedidos</p>
                                            </a>
                                        </li>
                                    }

                                    @if (rolUsuario == 1 || rolUsuario == 5)
                                    {
                                        <li class="nav-item">
                                            <a href="@Url.Action("Inventario", "Contabilidad")" class="nav-link">
                                                <i class="fas fa-boxes nav-icon" style="color: #a5d6a7;"></i>
                                                <p style="color: #a5d6a7;">Inventario</p>
                                            </a>
                                        </li>
                                    }



                                    @if (rolUsuario == 1 || rolUsuario == 6)
                                    {
                                        <li class="nav-item">
                                            <a href="@Url.Action("InformeVenta", "Contabilidad")" class="nav-link">
                                                <i class="fas fa-chart-line nav-icon" style="color: #a5d6a7;"></i>
                                                <p style="color: #a5d6a7;">Informe de Ventas</p>
                                            </a>
                                        </li>
                                    }


                                    @if (rolUsuario == 1 || rolUsuario == 7)
                                    {
                                        <li class="nav-item">
                                            <a href="@Url.Action("CxP", "Contabilidad")" class="nav-link">
                                                <i class="fas fa-file-invoice nav-icon" style="color: #a5d6a7;"></i>
                                                <p style="color: #a5d6a7;">Cuentas por Pagar</p>
                                            </a>
                                        </li>


                                        <li class="nav-item">
                                            <a href="@Url.Action("CxC", "Contabilidad")" class="nav-link">
                                                <i class="fas fa-wallet nav-icon" style="color: #a5d6a7;"></i>
                                                <p style="color: #a5d6a7;">Cuentas por Cobrar</p>
                                            </a>
                                        </li>


                                        <li class="nav-item">
                                            <a href="@Url.Action("RegistroTransacciones", "Contabilidad")" class="nav-link">
                                                <i class="fas fa-exchange-alt nav-icon" style="color: #a5d6a7;"></i>
                                                <p style="color: #a5d6a7;">Registro de Transacciones</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="@Url.Action("ContaCierreCorte", "Contabilidad")" class="nav-link">
                                                <i class="fas fa-calendar-check nav-icon" style="color: #a5d6a7;"></i>
                                                <p style="color: #a5d6a7;">Cierre Contable</p>
                                            </a>
                                        </li>


                                        <li class="nav-item">
                                            <a href="@Url.Action("ContaEstadosFinancieros", "Contabilidad")" class="nav-link">
                                                <i class="fas fa-money-bill nav-icon" style="color: #a5d6a7;"></i>
                                                <p style="color: #a5d6a7;">Estados Financieros</p>
                                            </a>
                                        </li>


                                        <li class="nav-item">
                                            <a href="@Url.Action("VencimientoCuentas", "Contabilidad")" class="nav-link">
                                                <i class="fas fa-calendar-alt nav-icon" style="color: #a5d6a7;"></i>
                                                <p style="color: #a5d6a7;">Vencimiento de Cuentas</p>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </li>
                        }

                        @if (rolUsuario == 1 || rolUsuario == 4 || rolUsuario == 6)
                        {
                            <li class="nav-item has-treeview"
                                style="margin-bottom: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); border-radius: 8px;">
                                <a href="#" class="nav-link toggle-menu"
                                   style="color: #ffffff; display: flex; align-items: center; padding: 10px; border-radius: 8px; transition: all 0.3s ease;">
                                    <i class="fas fa-users nav-icon" style="color: #00e676; font-size: 20px; margin-right: 10px;"></i>
                                    <p style="font-weight: 500;">Clientes</p>
                                    <i class="fas fa-angle-down right expand-icon" style="margin-left: auto; color: #00e676;"></i>
                                </a>
                                <ul class="nav nav-treeview collapsible-content"
                                    style="margin-top: 5px; padding-left: 25px; display: none;">


                                    <li class="nav-item">
                                        <a href="@Url.Action("Registro_Clientes", "Clientes")" class="nav-link">
                                            <i class="fas fa-user-plus nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Registrar Cliente</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="@Url.Action("ListaClientes", "Clientes")" class="nav-link">
                                            <i class="fas fa-list nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Lista de Clientes</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                        @if (rolUsuario == 1 || rolUsuario == 8)
                        {
                            <li class="nav-item has-treeview"
                                style="margin-bottom: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); border-radius: 8px;">
                                <a href="#" class="nav-link toggle-menu"
                                   style="color: #ffffff; display: flex; align-items: center; padding: 10px; border-radius: 8px; transition: all 0.3s ease;">
                                    <i class="fas fa-users nav-icon" style="color: #00e676; font-size: 20px; margin-right: 10px;"></i>
                                    <p style="font-weight: 500;">Proveedores</p>
                                    <i class="fas fa-angle-down right expand-icon" style="margin-left: auto; color: #00e676;"></i>
                                </a>
                                <ul class="nav nav-treeview collapsible-content"
                                    style="margin-top: 5px; padding-left: 25px; display: none;">


                                    <li class="nav-item">
                                        <a href="@Url.Action("Registro_Proveedores", "Proveedores")" class="nav-link">
                                            <i class="fas fa-user-plus nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Registrar Proveedor</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="@Url.Action("ListaProveedores", "Proveedores")" class="nav-link">
                                            <i class="fas fa-list nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Lista de Proveedores</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="@Url.Action("ConsultarEstadoFinanciero", "Proveedores")" class="nav-link">
                                            <i class="fas fa-info-circle nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Estado Financiero</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="@Url.Action("ConsultarEstadoFinancieroConjunto", "Proveedores")" class="nav-link">
                                            <i class="fas fa-balance-scale nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Estado Financiero Conjunto</p>
                                        </a>
                                    </li>

                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="fas fa-shopping-cart nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Pedidos</p>
                                            <i class="fas fa-angle-down right" style="color: #a5d6a7;"></i>
                                        </a>
                                        <ul class="nav nav-treeview"
                                            style="margin-top: 5px; padding-left: 20px;">
                                            <li class="nav-item">
                                                <a href="@Url.Action("RegistrarPedido", "Pedidos")" class="nav-link">
                                                    <i class="fas fa-plus-circle nav-icon" style="color: #a5d6a7;"></i>
                                                    <p style="color: #a5d6a7;">Registrar Pedido</p>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="@Url.Action("ListaPedidos", "Pedidos")" class="nav-link">
                                                    <i class="fas fa-list nav-icon" style="color: #a5d6a7;"></i>
                                                    <p style="color: #a5d6a7;">Lista de Pedidos</p>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="@Url.Action("GenerarReporteForm", "Pedidos")" class="nav-link">
                                                    <i class="fas fa-chart-line nav-icon" style="color: #a5d6a7;"></i>
                                                    <p style="color: #a5d6a7;">Generar Reporte</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }


                        <li class="nav-item has-treeview"
                            style="margin-bottom: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); border-radius: 8px;">
                            <a href="#" class="nav-link toggle-menu"
                               style="color: #ffffff; display: flex; align-items: center; padding: 10px; border-radius: 8px; transition: all 0.3s ease;">
                                <i class="fas fa-ticket-alt nav-icon" style="color: #00e676; font-size: 20px; margin-right: 10px;"></i>
                                <p style="font-weight: 500;">Incidencias</p>
                                <i class="fas fa-angle-down right expand-icon" style="margin-left: auto; color: #00e676;"></i>
                            </a>
                            <ul class="nav nav-treeview collapsible-content"
                                style="margin-top: 5px; padding-left: 25px; display: none;">

                                <li class="nav-item">
                                    <a href="@Url.Action("NuevoTicket", "Incidencias")" class="nav-link">
                                        <i class="fas fa-exclamation-circle nav-icon" style="color: #a5d6a7;"></i>
                                        <p style="color: #a5d6a7;">Nueva Incidencia</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="@Url.Action("ListaIncidenciasUsuario", "Incidencias")" class="nav-link">
                                        <i class="fas fa-hourglass-start nav-icon" style="color: #a5d6a7;"></i>
                                        <p style="color: #a5d6a7;">Incidencias en Proceso</p>
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="@Url.Action("ListaHistoricoUsuario", "Incidencias")" class="nav-link">
                                        <i class="fas fa-history nav-icon" style="color: #a5d6a7;"></i>
                                        <p style="color: #a5d6a7;">Histórico de Incidencias</p>
                                    </a>
                                </li>


                                @if (rolUsuario == 1 || rolUsuario == 2)
                                {
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="fas fa-tools nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Atención</p>
                                            <i class="fas fa-angle-down right" style="color: #a5d6a7;"></i>
                                        </a>
                                        <ul class="nav nav-treeview"
                                            style="margin-top: 5px; padding-left: 25px;">

                                            <li class="nav-item">
                                                <a href="@Url.Action("ListaTicketsAsignados", "IncidenciasITAnalyst")" class="nav-link">
                                                    <i class="fas fa-user-check nav-icon" style="color: #a5d6a7;"></i>
                                                    <p style="color: #a5d6a7;">Asignadas</p>
                                                </a>
                                            </li>


                                            <li class="nav-item">
                                                <a href="@Url.Action("ListaHistoricoAtendidos", "IncidenciasITAnalyst")" class="nav-link">
                                                    <i class="fas fa-check-double nav-icon" style="color: #a5d6a7;"></i>
                                                    <p style="color: #a5d6a7;">Atendidas</p>
                                                </a>
                                            </li>


                                            <li class="nav-item">
                                                <a href="@Url.Action("ReporteITAnalyst", "IncidenciasITAnalyst")" class="nav-link">
                                                    <i class="fas fa-chart-line nav-icon" style="color: #a5d6a7;"></i>
                                                    <p style="color: #a5d6a7;">Reporte</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }


                                @if (rolUsuario == 1 || rolUsuario == 3)
                                {
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="fas fa-user-cog nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Administración</p>
                                            <i class="fas fa-angle-down right" style="color: #a5d6a7;"></i>
                                        </a>
                                        <ul class="nav nav-treeview"
                                            style="margin-top: 5px; padding-left: 25px;">


                                            <li class="nav-item">
                                                <a href="@Url.Action("ListaTicketsRegistrados", "IncidenciasITManager")" class="nav-link">
                                                    <i class="fas fa-tasks nav-icon" style="color: #a5d6a7;"></i>
                                                    <p style="color: #a5d6a7;">Asignación</p>
                                                </a>
                                            </li>


                                            <li class="nav-item">
                                                <a href="@Url.Action("ListaHistoricoTickets", "IncidenciasITManager")" class="nav-link">
                                                    <i class="fas fa-history nav-icon" style="color: #a5d6a7;"></i>
                                                    <p style="color: #a5d6a7;">Histórico de Tickets</p>
                                                </a>
                                            </li>


                                            <li class="nav-item">
                                                <a href="@Url.Action("ReporteITManager", "IncidenciasITManager")" class="nav-link">
                                                    <i class="fas fa-chart-line nav-icon" style="color: #a5d6a7;"></i>
                                                    <p style="color: #a5d6a7;">Reporte</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class="nav-item">
                                        <a href="@Url.Action("ListaTiposTicket", "IncidenciasITManager")" class="nav-link">
                                            <i class="fas fa-tags nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Categorías de Incidencias</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li class="nav-item has-treeview"
                            style="margin-bottom: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); border-radius: 8px;">
                            <a href="#" class="nav-link toggle-menu"
                               style="color: #ffffff; display: flex; align-items: center; padding: 10px; border-radius: 8px; transition: all 0.3s ease;">
                                <i class="fas fa-user-friends nav-icon" style="color: #00e676; font-size: 20px; margin-right: 10px;"></i>
                                <p style="font-weight: 500;">Empleados</p>
                                <i class="fas fa-angle-down right expand-icon" style="margin-left: auto; color: #00e676;"></i>
                            </a>
                            <ul class="nav nav-treeview collapsible-content"
                                style="margin-top: 5px; padding-left: 25px; display: none;">

                                @if (rolUsuario == 1 || rolUsuario == 9)
                                {
                                    <li class="nav-item">
                                        <a href="@Url.Action("registro","Login")" class="nav-link">
                                            <i class="fas fa-user-plus nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Registrar</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("ListarUsuarios","Login")" class="nav-link">
                                            <i class="fas fa-list-alt nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Listar</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Historial", "Empleados")" class="nav-link">
                                            <i class="far fa-circle nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Historial Vacaciones</p>
                                        </a>
                                    </li>
                                }

                                <li class="nav-item">
                                    <a href="@Url.Action("Solicitar", "Empleados")" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="color: #a5d6a7;"></i>
                                        <p style="color: #a5d6a7;">Solicitar Vacaciones</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("HistorialPorUsuario","Empleados")" class="nav-link">
                                        <i class="fas fa-calendar-alt nav-icon" style="color: #a5d6a7;"></i>
                                        <p style="color: #a5d6a7;">Historial Solicitudes</p>
                                    </a>
                                </li>


                                @*<li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-people-carry" style="color: #a5d6a7;"></i>
                        <p style="color: #a5d6a7;">Evaluaciones de Desempeño</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("RegistroCapacitacion", "Empleados")" class="nav-link">
                        <i class="nav-icon fas fa-people-carry" style="color: #a5d6a7;"></i>
                        <p style="color: #a5d6a7;">Registro Capacitación</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-people-carry" style="color: #a5d6a7;"></i>
                        <p style="color: #a5d6a7;">Lista Capacitación</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-people-carry" style="color: #a5d6a7;"></i>
                        <p style="color: #a5d6a7;">Gestión de Pagos</p>
                    </a>
                </li>*@

                            </ul>
                        </li>

                        @if (rolUsuario == 1 || rolUsuario == 10)
                        {
                            <li class="nav-item has-treeview"
                                style="margin-bottom: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); border-radius: 8px;">
                                <a href="#" class="nav-link toggle-menu"
                                   style="color: #ffffff; display: flex; align-items: center; padding: 10px; border-radius: 8px; transition: all 0.3s ease;">
                                    <i class="fas fa-truck nav-icon" style="color: #00e676; font-size: 20px; margin-right: 10px;"></i>
                                    <p style="font-weight: 500;">Entregas</p>
                                    <i class="fas fa-angle-down right expand-icon" style="margin-left: auto; color: #00e676;"></i>
                                </a>
                                <ul class="nav nav-treeview collapsible-content"
                                    style="margin-top: 5px; padding-left: 25px; display: none;">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Registrar","Entregas")" class="nav-link">
                                            <i class="fas fa-plus-square nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Registrar una nueva entrega</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("ListarEntregas","Entregas")" class="nav-link">
                                            <i class="fas fa-clipboard-list nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Visualizar todas las entregas</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }


                        @if (rolUsuario == 1 || rolUsuario == 11)
                        {
                            <li class="nav-item has-treeview"
                                style="margin-bottom: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); border-radius: 8px;">
                                <a href="#" class="nav-link toggle-menu"
                                   style="color: #ffffff; display: flex; align-items: center; padding: 10px; border-radius: 8px; transition: all 0.3s ease;">
                                    <i class="fas fa-file-alt nav-icon" style="color: #00e676; font-size: 20px; margin-right: 10px;"></i>
                                    <p style="font-weight: 500;">Planes de Acción</p>
                                    <i class="fas fa-angle-down right expand-icon" style="margin-left: auto; color: #00e676;"></i>
                                </a>
                                <ul class="nav nav-treeview collapsible-content"
                                    style="margin-top: 5px; padding-left: 25px; display: none;">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Registro","PlanDeAccion")" class="nav-link">
                                            <i class="fas fa-folder-plus nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Registrar Plan</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("ListarPlanesUsuario","PlanDeAccion")" class="nav-link">
                                            <i class="fas fa-folder-open nav-icon" style="color: #a5d6a7;"></i>
                                            <p style="color: #a5d6a7;">Listar Planes</p>
                                        </a>
                                    </li>

                                    @*<li class="nav-item">
                        <a href="@Url.Action("VerificarEstado","PlanDeAccion")" class="nav-link">
                            <i class="fas fa-tasks nav-icon" style="color: #a5d6a7;"></i>
                            <p style="color: #a5d6a7;">Verificar Estado</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-check-circle" style="color: #a5d6a7;"></i>
                            <p style="color: #a5d6a7;">Verificar estado</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user-tag" style="color: #a5d6a7;"></i>
                            <p style="color: #a5d6a7;">Asignar responsabilidades</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-clock" style="color: #a5d6a7;"></i>
                            <p style="color: #a5d6a7;">Verificar plazos</p>
                        </a>
                    </li>*@
                                </ul>
                            </li>
                        }

                    </ul>
                    </nav>
                </div>
            </aside>

        <style>

            .main-sidebar {
                overflow-y: auto; 
                scrollbar-width: thin; 
                scrollbar-color: #000 #111; 
            }

                .main-sidebar::-webkit-scrollbar {
                    width: 8px; 
                }

                .main-sidebar::-webkit-scrollbar-track {
                    background: #111; 
                }

                .main-sidebar::-webkit-scrollbar-thumb {
                    background-color: #000; 
                    border-radius: 4px;
                }

            .nav-link:hover {
                background-color: #333333;
                transform: scale(1.03);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
                color: #00e676;
                transition: all 0.3s ease;
            }

            #notificationCircle {
                background-color: #ffffff !important;
                color: #000000 !important;
                width: 20px; 
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px; 
                font-weight: bold;
                border: #00e676;
                position: absolute;
                top: -4px; 
                right: -9px;
            }

            .dropdown-menu .dropdown-item:hover {
                background-color: #a5d6a7 !important;
                color: #000 !important;
                border-radius: 5px;
                transition: background-color 0.3s ease-in-out;
            }



        </style>


        <script>
            document.querySelectorAll('.toggle-menu').forEach(menu => {
                menu.addEventListener('click', function () {
                    const content = this.nextElementSibling;
                    const icon = this.querySelector('.expand-icon');

                    if (content.style.display === 'block') {
                        content.style.display = 'none';
                        icon.classList.replace('fa-angle-up', 'fa-angle-down');
                    } else {
                        content.style.display = 'block';
                        icon.classList.replace('fa-angle-down', 'fa-angle-up');
                    }
                });
            });
        </script>



        <div class="content-wrapper">




            <section class="content">


                @RenderBody()






            </section>




        </div>

        <footer class="main-footer" style="background-color: #111111; color: #a5d6a7; padding: 15px; position: relative; text-align: center; z-index: 1000; width: calc(100% - 250px); margin-left: 250px;">
            <div class="float-right d-none d-sm-block">
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#" style="color: #00e676;">Rajasa de Coro</a>.</strong> Todos los derechos reservados.
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>

    </div>

    <script src="~/root/plugins/jquery/jquery.min.js"></script>
    @*<script src="~/root/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/root/dist/js/adminlte.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.3/sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>
        function actualizarNotificaciones() {
            $.ajax({
                url: '@Url.Action("ObtenerNotificaciones", "Notificaciones")',
                type: 'GET',
                success: function (data) {

                    $('#notificationCircle').text(data.cantidad);
                    if (data.cantidad > 0) {
                        $('#notificationCircle').show(); // Muestra el círculo si hay notificaciones
                    } else {
                        $('#notificationCircle').hide(); // Oculta el círculo si no hay notificaciones
                    }

                    const notificationList = $('#notificationList');
                    notificationList.empty(); 

                    data.notificaciones.forEach(function (notificacion) {
                        const item = $('<div>').addClass('dropdown-item')
                            .attr('id', notificacion.IdNotificacion)
                            .attr('data-lectura', notificacion.lectura)
                            .html(notificacion.MensajeF.replace(/\n/g, '<br>'));

                        if (notificacion.lectura == 0) {
                            item.css({
                                'font-weight': 'bold',
                                'background-color': '#f0f0f0'
                            });
                        }

                        notificationList.append(item);
                    });
                }
            });
        }

        function MostrarMensajeC(titulo, mensaje, icono) {
            return Swal.fire({
                title: titulo,
                showDenyButton: false,
                showCancelButton: false,
                confirmButtonText: "Confirmar",
                text: mensaje,
                icon: icono
            });
        }

        // Ejecuta la función cuando la página carga
        $(document).ready(function () {
            actualizarNotificaciones();

            // Configura el intervalo para que se ejecute cada 10 segundos
            setInterval(actualizarNotificaciones, 10000);

            $('#notificationIcon').on('click', function () {
                $('#notificationDropdown').toggle();
            });

            // Evento para manejar el clic en una notificación
            $('#notificationList').on('click', '.dropdown-item', function () {
                const idNotificacion = $(this).attr('id');
                const lectura = $(this).data('lectura');

                const titulo = lectura == 0 ? 'Confirmar Lectura' : 'Marcar como No Leída';
                const mensaje = lectura == 0 ? '¿Desea marcar esta notificación como leída?' : '¿Desea marcar esta notificación como no leída?';

                MostrarMensajeC(titulo, mensaje, "question").then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '@Url.Action("CambiarEstadoLectura", "Notificaciones")',
                            type: 'POST',
                            data: { idNotificacion: idNotificacion },
                            success: function (response) {
                                if (response.success) {
                                    // Actualiza el estado visual de la notificación
                                    const item = $('#' + idNotificacion);
                                    if (lectura === 0) {
                                        item.css('font-weight', 'normal').data('lectura', 1);
                                    } else {
                                        item.css('font-weight', 'bold').data('lectura', 0);
                                    }
                                    Swal.fire("¡Actualizado!", "El estado de la notificación ha sido cambiado.", "success");
                                } else {
                                    Swal.fire("Error", "No se pudo actualizar el estado de la notificación.", "error");
                                }
                                actualizarNotificaciones();
                            },
                            error: function () {
                                Swal.fire("Error", "Ocurrió un problema al intentar cambiar el estado.", "error");
                            }
                        });
                    }
                });
            });
        });

    </script>

</body>
</html> 