@{
    ViewBag.Title = "ActualizarEntrega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model SIG.Entidades.Entrega


<div class="container">
    <h2 class="text-left">Actualizar Entrega</h2>
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.HiddenFor(m => m.PedidoId)
            @Html.HiddenFor(m => m.PedidoId, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <label for="FechaEntrega">Fecha de Entrega:</label>
            @Html.TextBoxFor(model => model.FechaEntrega, new
            {
                @class = "form-control",
                @type = "date",
                @Value = Model.FechaEntrega.HasValue
                    ? Model.FechaEntrega.Value.ToString("yyyy-MM-dd")
                    : DateTime.Today.ToString("yyyy-MM-dd") // Fecha actual como predeterminada
            })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DireccionEntrega)
            @Html.TextBoxFor(m => m.DireccionEntrega, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ArticulosEntregados)
            @Html.TextAreaFor(m => m.ArticulosEntregados, new { @class = "form-control", rows = "3" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ObservacionesAdicionales)
            @Html.TextAreaFor(m => m.ObservacionesAdicionales, new { @class = "form-control", rows = "3" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.EstadoEntrega)
            @Html.DropDownListFor(m => m.EstadoEntrega, new SelectList(new[] { "Pendiente", "En tránsito", "Entregado", "Cancelado" }), new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NombreDestinatario)
            @Html.TextBoxFor(m => m.NombreDestinatario, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label for="CorreoElectronico">Correo Electrónico:</label>
            @Html.TextBoxFor(model => model.CorreoElectronico, new
            {
                @class = "form-control",
                @required = "required", 
                @placeholder = "Ingrese el correo electrónico"
            })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Actualizar</button>
            <a href="@Url.Action("ListarEntregas", "Entregas")" class="btn btn-secondary">Cancelar</a>
        </div>
    }

