@model SIG.Entidades.Entrega
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Entrega</title>

    <link href="~/root/dist/css/RegEntrada.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <h1>Registrar Entrega</h1>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="message">@ViewBag.SuccessMessage</div>
        }

        @using (Html.BeginForm("Registrar", "Entregas", FormMethod.Post))
        {
            <label for="pedido-id">Número de Pedido:</label>
            @Html.TextBoxFor(model => model.PedidoId, new { @id = "pedido-id", @required = "required", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PedidoId, "", new { @class = "text-danger" })

            <label for="FechaEntrega">Fecha de Entrega:</label>
            @Html.TextBoxFor(model => model.FechaEntrega, new
            {
                @class = "form-control",
                @type = "date",
                @Value = Model.FechaEntrega.HasValue
                    ? Model.FechaEntrega.Value.ToString("yyyy-MM-dd")
                    : DateTime.Today.ToString("yyyy-MM-dd")
            })

            <label for="Correo">Correo:</label>
            @Html.TextAreaFor(model => model.CorreoElectronico, new { @id = "Correo", @rows = "1" })

            @*<label for="Nombre-Cliente">Nombre cliente:</label>
            @Html.TextAreaFor(model => model.NombreDestinatario, new { @id = "observaciones", @rows = "1" })*@

            <div class="form-group">
                <label for="ClienteId">Seleccionar Cliente:</label>
                @Html.DropDownListFor(model => model.ClienteId, (SelectList)ViewBag.Clientes, "Seleccione un Cliente", new { @class = "form-control", @required = "required" })
            </div>

            <label for="EstadoEntrega">Estado de Entrega:</label>
            @Html.DropDownListFor(model => model.EstadoEntrega,
                new SelectList(new List<string> { "Pendiente", "En tránsito", "Entregado", "Cancelado" }),
                "Seleccione un estado",
                new { @id = "estadoEntrega", @class = "form-control" })

            <label for="direccion-entrega">Dirección de Entrega:</label>
            @Html.TextAreaFor(model => model.DireccionEntrega, new { @id = "direccion-entrega", @rows = "3", @required = "required" })

            <label for="articulos-entregados">Artículos Entregados:</label>
            @Html.TextAreaFor(model => model.ArticulosEntregados, new { @id = "articulos-entregados", @rows = "4", @required = "required" })

            <label for="observaciones">Observaciones Adicionales:</label>
            @Html.TextAreaFor(model => model.ObservacionesAdicionales, new { @id = "observaciones", @rows = "4" })




            <button type="submit">Registrar Entrega</button>
            <button type="button" class="btn btn-secondary" style="width:100%" onclick="window.history.back();">Regresar</button>
        }
    </div>

</body>
</html>


