@model SIG.BaseDatos.Ticket

@{
    ViewBag.Title = "ActualizarTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column min-vh-800" style="background-color: #f3f5f8; margin-left: 3.3%; padding: 20px; border-radius: 15px; height: auto; width: 100%; overflow-y: auto; ">
    <div class="text-center mb-4">
        <h2 style="font-weight: bold; color: #111111; border-bottom: 2px solid #111111; padding-bottom: 10px;">
            Actualizar Ticket
        </h2>
    </div>

    @if (ViewBag.msj != null)
    {
        <div class="alert alert-info text-center" role="alert">
            @ViewBag.msj
        </div>
    }

<div class="container">
    @using (Html.BeginForm("ActualizarTicket", "Incidencias"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.id_ticket)
        @Html.HiddenFor(m => m.id_tecnico)
        @Html.HiddenFor(m => m.prioridad)


        <div class="mb-3">
            @Html.Label("Id de Ticket")
            @Html.TextBoxFor(m => m.id_ticket, new { @class = "form-control form-control-lg shadow-lg", @disabled = "true" })
        </div>

        <div class="mb-3">
            @Html.Label("Título")
            @Html.TextBoxFor(m => m.titulo, new { @class = "form-control shadow-lg", @maxlength = "20", @required = "true" })
        </div>

        <div class="mb-3">
            @Html.Label("Tipo de incidente")
            @Html.DropDownListFor(m => m.tipo_incidencia, ViewBag.Incidencias as List<SelectListItem>, new { @class = "form-control shadow-lg select-style", @disabled = "true" })
        </div>

        <div class="mb-3">
            @Html.Label("Descripción")
            @Html.TextAreaFor(m => m.descripcion, new { @class = "form-control shadow-lg", @maxlength = "200", @rows = "4", @required = "true" })
        </div>

        <div class="mb-3">
            @Html.Label("Comentarios Usuario")
            @Html.TextAreaFor(m => m.comentarios_usuario, new { @class = "form-control shadow-lg", @maxlength = "200", @rows = "4" })
        </div>

        <div class="mb-3">
            @Html.Label("Fecha de registro")
            @Html.TextBoxFor(m => m.fecha_registro_usuario, new { @class = "form-control shadow-lg", @disabled = "true" })
        </div>

        <div class="mb-3">
            @Html.Label("Estado de incidente")
            @Html.DropDownListFor(m => m.estado, ViewBag.Estados as List<SelectListItem>, new { @class = "form-control shadow-lg select-style", @disabled = "true" })
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-gradient">Actualizar</button>
        </div>
    }
</div>
</div>

<style>

    .d-flex.flex-column {
        max-height: 100%;
        overflow-y: scroll;
        display: none;
        scrollbar-width: none;
    }

    .form-control {
        border-radius: 8px;
        padding: 12px;
        font-size: 16px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
    }

        .form-control:focus {
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
            border-color: #5b8c5a;
        }

    .btn-gradient {
        background: linear-gradient(to right, #5b8c5a, #2f5930);
        color: white;
        border: none;
        padding: 12px 24px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 6px;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

        .btn-gradient:hover {
            transform: scale(1.1);
            background: linear-gradient(to right, #2f5930, #5b8c5a);
        }

    .select-style {
        text-align: left;
        padding-left: 12px;
        height: 50px;
        font-size: 16px;
    }
</style>

<script src="~/root/plugins/jquery/jquery.min.js"></script>
<script src="~/root/plugins/bootstrap/js/bootstrap.min.js"></script>
