@model SIG.Entidades.Ticket
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Incidencia</title>
    <link href="~/root/dist/css/nuevoTicket.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <h1>Registro de Incidencia</h1>

        @using (Html.BeginForm("NuevoTicket", "Incidencias"))
        {

            @Html.Label("Título", new { @for = "incident-title" })
            @Html.TextBoxFor(m => m.titulo, new { @class = "form-control", @maxlength = "20", @id = "incident-title", @name = "incident-title", @required = "true" })

            @Html.Label("Tipo de incidente", new { @for = "type" })
            @Html.DropDownListFor(m => m.tipo_incidencia, ViewBag.Incidencias as List<SelectListItem>, new { @class = "form-select", @id = "type", @name = "type", @required = "true" })

            @Html.Label("Descripción", new { @for = "description" })
            @Html.TextAreaFor(m => m.descripcion, new { @class = "form-control", @maxlength = "200", @id = "description", @name = "description", @rows = "4", @required = "true" })

            @Html.Label("Comentarios Usuario", new { @for = "user-comments" })
            @Html.TextAreaFor(m => m.comentarios_usuario, new { @class = "form-control", @maxlength = "200", @id = "user-comments", @name = "user-comments", @rows = "4" })

            <div class="mt-3">
                <button type="submit" class="btn btn-success">Registrar Incidencia</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back();">Regresar</button>
            </div>
        }

    </div>

</body>
</html>


