@model SIG.BaseDatos.Ticket
@{
    ViewBag.Title = "VerTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column min-vh-800" style="background-color: #f3f5f8; margin-left: 3.3%; padding: 20px; border-radius: 15px; height: auto; width: 100%" ; overflow-y: auto;">
    <div class="text-center mb-4">
        <h2 style="font-weight: bold; color: #111111; border-bottom: 2px solid #111111; padding-bottom: 10px;">
            Ver Ticket
        </h2>
    </div>
    <div class="container">
        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info text-center">@ViewBag.msj</div>
        }

        @using (Html.BeginForm("ActualizarTicket", "Incidencias"))
        {
            <div class="form-group">
                @Html.Label("Id de Ticket", new { @class = "form-label fw-bold" })
                @Html.TextBoxFor(m => m.id_ticket, new { @class = "form-control shadow-lg", @disabled = "true" })
            </div>

            if (int.Parse(Session["RolUsuario"].ToString()) > 1)
            {
                <div class="form-group">
                    @Html.Label("Usuario", new { @class = "form-label fw-bold" })
                    @Html.DropDownListFor(m => m.id_usuario, ViewBag.Usuarios as List<SelectListItem>, new { @class = "form-control form-control-lg shadow-lg select-style", @disabled = "true" })
                </div>
            }

            <div class="form-group">
                @Html.Label("Título", new { @class = "form-label fw-bold" })
                @Html.TextBoxFor(m => m.titulo, new { @class = "form-control shadow-lg", @disabled = "true" })
            </div>

            <div class="form-group">
                @Html.Label("Tipo de incidente", new { @class = "form-label fw-bold" })
                @Html.DropDownListFor(m => m.tipo_incidencia, ViewBag.Incidencias as List<SelectListItem>, new { @class = "form-control form-control-lg shadow-lg select-style", @disabled = "true" })
            </div>

            <div class="form-group">
                @Html.Label("Descripción", new { @class = "form-label fw-bold" })
                @Html.TextAreaFor(m => m.descripcion, new { @class = "form-control shadow-lg", @rows = "4", @disabled = "true" })
            </div>

            <div class="form-group">
                @Html.Label("Comentarios Usuario", new { @class = "form-label fw-bold" })
                @Html.TextAreaFor(m => m.comentarios_usuario, new { @class = "form-control shadow-lg", @rows = "4", @disabled = "true" })
            </div>

            <div class="form-group">
                @Html.Label("Estado de incidente", new { @class = "form-label fw-bold" })
                @Html.DropDownListFor(m => m.estado, ViewBag.Estados as List<SelectListItem>, new { @class = "form-control form-control-lg shadow-lg select-style", @disabled = "true" })
            </div>

            if (Model.id_tecnico != null)
            {
                <div class="form-group">
                    @Html.Label("Prioridad")
                    @Html.DropDownListFor(m => m.prioridad, ViewBag.Prioridades as List<SelectListItem>, new { @class = "form-control", @disabled = "true" })
                </div>
                <div class="form-group">
                    @Html.Label("Técnico asignado")
                    @Html.DropDownListFor(m => m.id_tecnico, ViewBag.Tecnicos as List<SelectListItem>, new { @class = "form-control", @disabled = "true" })
                </div>
                <div class="form-group">
                    @Html.Label("Comentarios Técnico")
                    @Html.TextAreaFor(m => m.comentario_tecnico, new { @class = "form-control", @id = "exampleTextarea1", @rows = "4", @disabled = "true" })
                </div>
                <div class="form-group">
                    @Html.Label("Fecha de asignada a Técnico")
                    @Html.TextBoxFor(m => m.fecha_registra_tecnico, new { @class = "form-control", @id = "exampleInputName1", @disabled = "true" })
                </div>

            }
            else if (Model.id_tecnico == null && Model.estado == 4)
            {
                <div class="form-group">
                    @Html.Label("Prioridad")
                    <input type="text" class="form-control" value="No hubo prioridad asignada (caso fue cerrado por usuario)" disabled />
                </div>
                <div class="form-group">
                    @Html.Label("Técnico asignado")
                    <input type="text" class="form-control" value="No hubo técnico asignado (caso fue cerrado por usuario)" disabled />

                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.Label("Técnico asignado")
                    <input type="text" class="form-control" value="No hay técnico asignado" disabled />
                </div>

            }
            <div class="form-group">
                @Html.Label("Fecha de cierre")
                @Html.TextBoxFor(m => m.fecha_cierre_ticket, new { @class = "form-control", @id = "exampleInputName1", @disabled = "true" })
            </div>



            <div class="text-center mt-4">
                <a class="btn btn-gradient" href="@Url.Action(ViewBag.Accion, ViewBag.Controlador)">Regresar</a>
            </div>
        }
    </div>
</div>

<style>

    .select-style {
        font-size: 1.5rem;
        height: 50px;
        padding: 10px;
    }


    .d-flex.flex-column {
        max-height: 100%;
        overflow-y: scroll;
        display: none;
        scrollbar-width: none;
    }

    .form-control {
        border-radius: 8px;
        padding: 12px;
        font-size: 16px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
    }

        .form-control:focus {
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
            border-color: #5b8c5a;
        }

    .btn-gradient {
        background: linear-gradient(to right, #5b8c5a, #2f5930);
        color: white;
        border: none;
        padding: 12px 24px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 6px;
        transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

        .btn-gradient:hover {
            transform: scale(1.1);
            background: linear-gradient(to right, #2f5930, #5b8c5a);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
        }
</style>
