@model List<SIG.Entidades.Proveedor>
@{
    ViewBag.Title = "ListaProveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.warning != null)
{
    <h3>
        @ViewBag.msj
    </h3>
}

@if (Model.Count == 0)
{
    <h3>No existen proveedores registrados</h3>
}
else
{
    <body>

        <div class="container">
            <h2>Proveedores</h2>

            <div class="row">
                <div class="col-12">



                    @if (ViewBag.msj != null)
                    {
                        <div class="alert alert-info" role="alert" style="text-align:center">
                            @ViewBag.msj
                        </div>
                    }

                    <!-- Botón para exportar a Excel -->
                    <div style="margin-bottom: 10px;">
                        <a href="@Url.Action("ExportarProveedores", "Proveedores")" class="btn btn-success">
                            <i class="fa fa-file-excel"></i> Exportar a Excel
                        </a>
                    </div>


                    <table id="tablaProveedores" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Estado</th>
                                <th>Eliminar</th>
                                <th>Actualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.id</td>
                                    <td>@item.nombre</td>
                                    <td>@item.telefono</td>
                                    @if (item.estado == 1)
                                    {
                                        <td>Activo</td>
                                    }
                                    else
                                    {
                                        <td>Inactivo</td>
                                    }
                                    <td style="text-align:center">
                                        <button type="button" class="btn btn-primary AbrirModal" data-bs-toggle="modal" data-bs-target="#ModalProveedor" data-id="@item.id" data-name="@item.nombre">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    <td style="text-align:center">
                                        <a class="btn btn-primary" href="@Url.Action("ActualizarProveedor", "Proveedores", new { id = item.id})">
                                            <i class="fa fa-user"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
}

<div class="modal fade" id="ModalProveedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EliminarProveedor", "Proveedores"))
                {
                    <div class="modal-body">
                        @Html.Hidden("id", "")
                        ¿Desea eliminar el proveedor <label id="Nombre"></label>?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/root/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#tablaProveedores").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            }
        });
    });
    $(document).on("click", ".AbrirModal", function () {
        $("#id").val($(this).attr('data-id'));
        $("#Nombre").text($(this).attr('data-name'));
    });
</script>

